<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Preview Form 1</title>
</head>
<body>

Evaluator ID

<select  id="evaluatorid">
  <option value="1">Judge 01</option>
  <option value="2">Judge 02</option>
  <option value="3">Judge 03</option>
  <option value="4">Judge 04</option>
  <option value="5">Judge 05</option>
  <option value="6">Judge 06</option>
  <option value="7">Judge 07</option>
  <option value="8">Judge 08</option>
  <option value="9">Judge 09</option>
  <option value="10">Judge 10</option>
  <option value="11">Judge 11</option>
  <option value="12">Judge 12</option>
  <option value="13">Judge 13</option>
  <option value="14">Judge 14</option>
  <option value="15">Judge 15</option>
</select>

<br>

Who are you evaluating?     Group/Student ID?
<select  id="groupid">
  <option value="1">Group 01</option>
  <option value="2">Group 02</option>
  <option value="3">Group 03</option>
  <option value="4">Group 04</option>
  <option value="5">Group 05</option>
  <option value="6">Group 06</option>
  <option value="7">Group 07</option>
  <option value="8">Group 08</option>
</select>
<br>

Evaluator Role
<br>
<input type="radio" name="" id="" value="">Instructor
<input type="radio" name="" id="" value="">Peer
<input type="radio" name="" id="" value="">Self
<input type="radio" name="" id="" value="">Judge
<br>
They followed the instruction. (1: Not agree -- 5: Agree)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<input type="radio" name="" id="" value="">3
<input type="radio" name="" id="" value="">4
<input type="radio" name="" id="" value="">5
<br>
Did they submit the work in time? (1: No  2: Yes)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<br>
The problem statement is clear.  (1: Not agree -- 5: Agree)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<input type="radio" name="" id="" value="">3
<input type="radio" name="" id="" value="">4
<input type="radio" name="" id="" value="">5
<br>
Their methodology was sound and systematic?   (1: Not agree -- 5: Agree)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<input type="radio" name="" id="" value="">3
<input type="radio" name="" id="" value="">4
<input type="radio" name="" id="" value="">5
<br>
They have enough evidence to support their claim.  (1: Not agree -- 5: Agree)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<input type="radio" name="" id="" value="">3
<input type="radio" name="" id="" value="">4
<input type="radio" name="" id="" value="">5
<br>

<button id="submit" onclick="myFunction()">Submit</button>
<button id="cancel" onclick="myFunction()">Cancel</button>


</body>
</html>