<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Preview Form 1</title>
</head>
<body>

Evaluator ID

<input type="text" >

<br>

Who are you evaluating?     Group/Student ID? <input type="text" >
<br>

Evaluator Role
<br>
<input type="radio" name="" id="" value="">Instructor
<input type="radio" name="" id="" value="">Peer
<input type="radio" name="" id="" value="">Self
<input type="radio" name="" id="" value="">Judge
<br>
They followed the instruction. (1: Not agree -- 5: Agree)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<input type="radio" name="" id="" value="">3
<input type="radio" name="" id="" value="">4
<input type="radio" name="" id="" value="">5
<br>
Did they submit the work in time? (1: No  2: Yes)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<br>
The problem statement is clear.  (1: Not agree -- 5: Agree)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<input type="radio" name="" id="" value="">3
<input type="radio" name="" id="" value="">4
<input type="radio" name="" id="" value="">5
<br>
Their methodology was sound and systematic?   (1: Not agree -- 5: Agree)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<input type="radio" name="" id="" value="">3
<input type="radio" name="" id="" value="">4
<input type="radio" name="" id="" value="">5
<br>
They have enough evidence to support their claim.  (1: Not agree -- 5: Agree)
<br>
<input type="radio" name="" id="" value="">1
<input type="radio" name="" id="" value="">2
<input type="radio" name="" id="" value="">3
<input type="radio" name="" id="" value="">4
<input type="radio" name="" id="" value="">5
<br>

<button id="createform" onclick="myFunction()">Create Form</button>
<button id="cancel" onclick="myFunction()">Cancel</button>


</body>
</html>